*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******+Generics********/

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

.container{
    margin: 0 auto;
    max-width: 1200px;

}

.col{
    float: left;
}

h1{
    font-size: 40px;

}

img{
    width: 100%;
}

.content{
    width: 100%;
    height: auto;
    padding: 200px;

}

.w-33{
    width: calc(100% / 3);
}

.text-col{
    font-size: 18px;
    
}

.btn{
    background-color: #0061ff;
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;
}

.mt-20{
    margin-top: 20px;
}

.pad-1{
    padding: 0 5px;
}

.text-gray{
    color: gray;
}

/*********Header***********/

header{
    width: 100%;
    position: relative;
}

/*Nav*/

.main-nav .left-nav{
    float: left;
    width: 600px;
    line-height: 68px;
}
.right-nav{
    float: right;
    line-height: 68px;
}

.main-nav a{
    text-decoration: none;
    color: black;
}

.main-nav a.btn,
.jumbo-text a.btn{
    background-color: #0061ff;
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;

}

.main-nav a:hover{
    text-decoration: underline;
}

.main-nav a.btn-small:hover{
    background-color:#3276e4;
    text-decoration: none;
}



/*Logo*/

.logo{
    margin-right: 1%;
    float: left;
}

#logo{
    vertical-align: text-bottom;
}

.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    display: inline-block;
    margin: 0 10px;
}


/*Jumbo*/
.header-sctn{
    position: relative;
    top: 80px;
    width: 100%;
    padding: 0 10%;
    background-color: #b4d0e7;
    
}

.jumbo{
    width: 60%;
    height: auto;
    position: absolute;
    right: 0;
    top: 155px;
    z-index: 1;
}

.jumbo-text{
    width: 40%;
    
}

.first-sctn h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.par-jumbo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.entity{
    font-size: 36px;
    margin-top: 20px;
    
}

/********Main********/


/*3 Col*/

main .head-col{
    margin-top: 40px;
    border:1px solid black;
    text-align: center;
    padding: 10px;
}


.col-list{
    padding: 10px;
    list-style: none;
    margin-bottom: 20px;
}

.far, .fas{
    margin-right:2%;
}

.check-list{
    list-style: none;
}

.check-list li{
    margin-top: 20px;
}

.fa-check{
    color: #0000ff;
}

.border-col{
    border: 1px solid black;
    padding: 0 10px;
}

.down-box{
    text-align: center;
    position: relative;
    top: 20px;
    
}

.head-box{
    border: 1px solid black;
}