*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

.container{
    margin: 0 auto;
    max-width: 1200px;

}

.view-60{
    height:60vh;
}
.view-80{
    height: 80vh;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

h1{
    font-size: 40px;

}

img{
    width: 100%;
}

.content{
    width: 100%;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 650px;
    padding: 150px;
    

}


/*Header*/

header{
    width: 100%;
    position: relative;
}

/*Nav*/

.main-nav .left-nav{
    float: left;
    width: 600px;
    line-height: 68px;
}
.right-nav{
    float: right;
    line-height: 68px;
}

.main-nav a{
    text-decoration: none;
    color: black;
}

.main-nav a.btn-small,
.jumbo-text a.btn-large{
    background-color: #0061ff;
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;

}

.main-nav a:hover{
    text-decoration: underline;
}

.main-nav a.btn-small:hover{
    background-color:#3276e4;
    text-decoration: none;
}



/*Logo*/

.logo{
    margin-right: 1%;
    float: left;
}

#logo{
    vertical-align: text-bottom;
}

.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    display: inline-block;
    margin: 0 10px;
}


/*Jumbo*/
.header-sctn{
    position: relative;
    top: 80px;
    width: 100%;
    padding: 0 10%;
    background-color: #b4d0e7;
    
}

.jumbo{
    width: 60%;
    height: auto;
    position: absolute;
    right: 0;
    top: 155px;
    z-index: 1;
}

.jumbo-text{
    width: 40%;
    
}

.first-sctn h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.par-jumbo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.entity{
    font-size: 36px;
    margin-top: 20px;
    
}

/*Sezione 3 Colonne*/

.col{
    width: calc(80% / 3);
    height: 600px;
    float: left;
    margin: 1%;
    border: 1px solid black;
}


